
*.suo
1.BMS Inventory Code/BMS/bin/x86/Debug/DesignSupportSystem.exe
1.BMS Inventory Code/BMS/bin/x86/Debug/DesignSupportSystem.pdb
1.BMS Inventory Code/BMS/bin/x86/Debug/Forms.dll
1.BMS Inventory Code/BMS/bin/x86/Debug/Forms.pdb
1.BMS Inventory Code/BMS/obj/x86/Debug/BMS.csprojResolveAssemblyReference.cache
1.BMS Inventory Code/BMS/obj/x86/Debug/DesignSupportSystem.exe
1.BMS Inventory Code/BMS/obj/x86/Debug/DesignSupportSystem.pdb
1.BMS Inventory Code/Forms/bin/x86/Debug/Forms.dll
1.BMS Inventory Code/Forms/bin/x86/Debug/Forms.pdb
1.BMS Inventory Code/Forms/obj/x86/Debug/Forms.dll
1.BMS Inventory Code/Forms/obj/x86/Debug/Forms.pdb
1.BMS Inventory Code/BMS Inv.v12.suo
1.BMS Inventory Code/BMS Inv.v12.suo
1.BMS Inventory Code/BMS/bin/x86/Debug/DesignSupportSystem.exe
1.BMS Inventory Code/BMS/bin/x86/Debug/DesignSupportSystem.pdb
1.BMS Inventory Code/BMS/bin/x86/Debug/Forms.dll
1.BMS Inventory Code/BMS/bin/x86/Debug/Forms.pdb
1.BMS Inventory Code/BMS/obj/x86/Debug/BMS.csprojResolveAssemblyReference.cache
1.BMS Inventory Code/BMS/obj/x86/Debug/DesignSupportSystem.exe
1.BMS Inventory Code/BMS/obj/x86/Debug/DesignSupportSystem.pdb
1.BMS Inventory Code/Forms/bin/x86/Debug/Forms.dll
1.BMS Inventory Code/Forms/bin/x86/Debug/Forms.pdb
1.BMS Inventory Code/Forms/obj/x86/Debug/Forms.dll
1.BMS Inventory Code/Forms/obj/x86/Debug/Forms.pdb
